body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* First section */

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
}
.navbar {
    padding:0;
    padding-bottom: 2.5rem;
}
.nav-item {
    padding: 0 1.5rem;
}
#title {
    background-color: #fe346e;
}
#title-title {
    font-weight: 3.5rem;
    color: rgb(255, 255, 255);
}
.container-fluid {
    padding: 3% 13% ;
}
#iphone-img {
    padding: 0 0 2.5rem 10rem ;
    width: 80%;
    transform: rotate(30deg);
}
    /* Download buttons */
.download-button {
    margin: 10% 3% 5% 0;
    padding: 14px;
}


/* Second Section */

.sec-2 {
    text-align: center;
    margin: 15% 0 15% 0;
}
.sec-2 h3 {
        font-weight: 900;
        padding-top: 2rem;

}
.icon {
    font-size: 7em;
    color: salmon;
}



#testimonials {
    background-color: salmon;
    font-family: 'Gelasio', serif;
}

.carousel-item {
    padding: 10rem;
    text-align: center;
}
.quote-sec {
    width: 500%;
}
#quote {
    color: white;
    font-size: 3rem;
    font-weight: 500;
}
#author {
    color: white;
    font-size: 1.2rem;
    padding-left: 2rem;
}
#profile-pic {
    border-radius: 100%;
    width: 8rem;
}
/* third section: press */
#press {
    text-align: center;
    padding: 0 0 7rem 0; 
}



/* Fourth section*/

#pricing {
    font-family: 'Ubuntu', sans-serif;
        text-align: center;
}
.price-card {
    width: 100%;


}
.card-btn {
    width: 100%;
}
.body-card {
    padding: 6% 10% 3% 10%;
}

/* Footer */

#cta {
    background-color: salmon;
    text-align: center;
}
#cta .container-fluid {
    padding: 8s%;
}
#cta H3 {
    color: white;
}